// colors
$color-dark1:#242424;
$color-dark2:#363636;
$color-dark3:rgb(67, 67, 67);
$color-white:#fff;
$color-smoke:#f3f3f3;
$color-dark:hsl(0, 0%, 29%);
$color-gold1:#ffcd38;
$color-gold2:#ffdd67;

$color-danger: #ec524b;
$color-warning: #fff07a;
$color-success: #28df99;