.avatar{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        svg{
            transform: scale(1.1);
        }
    }
    &__img{
        width: 80%;
    }
    svg{
        // font-size: 12rem;
        color: grey;
        transition: .3s;  
        width: 80%;   
        height: 80%;   
    }
}