.check {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: #ccc;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0 10px rgb(240, 240, 240);
  cursor: pointer;

  span {
    position: absolute;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-weight: 600;
  }
  
  &::after {
    content: "";
    @include absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  &--success {
    background-color: $color-success;
    span {
      justify-content: flex-start;
      color: darken($color-success, 30%);
    }
    &::after {
      transform: translatex(51px);
    }
  }

  
  &--danger {
    background-color: $color-danger;
    span {
      justify-content: flex-end;
      color: darken($color-danger, 30%);
    }
    &::after {
      transform: translatex(-1px);
    }
  }

  &--null {
    span {
      // justify-content: flex-start;
      display: none;
    }
    &::after {
      transform: translatex(25px);
    }
  }

}
