.modal-cont {
  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.863);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  &--open{
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(221, 221, 221);
  transition: 0.3s;
  transform: scale(.9);
  &--open {
    transform: scale(1);
  }

  &__close {
    color: #ccc;
    font-size: 1.8rem;
    transition: 0.3s;
    cursor: pointer;
    // padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    &:hover {
      color: grey;
    }
  }

  // z-index: 2;
  overflow: hidden;
}
