.picker{
    width: 300px;
    height: 30px;
    background-color: white;
    border: #ccc thin solid;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.picker__label{
    // background-color: red;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.2rem;
}