.user{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    transition: .3s;
    // cursor: pointer;
    &:hover{
       color: #ccc;
    }
    &__section{
        margin: 0 10px !important;
    }
    &:not(:last-child){
        border-bottom: thin solid #ececec;
    }
}