* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body , html {
    font-size: 62.5%;
    font-family: 'Tajawal' , sans-serif;
    // to prevent selecting and give premium feeling 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}